<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction With SVM</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/iofrm-style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/iofrm-theme31.css') }}"
    />
  </head>
  <body>
    <div class="form-body on-top-mobile">
      <div class="website-logo">
        <a href="index.html">
          <div class="logo">
            <img class="logo-size" src="images/logo-light.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="row">
        <div class="img-holder">
          <div class="bg"></div>
          <div class="bottom-view">
            <p>
              <small class="font-weight-light">Powered by domains - 2023</small>
            </p>
          </div>
        </div>
        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">
              <h3>Prediction With SVM</h3>
              <p class="text-black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo qui atque distinctio error ducimus aperiam ratione?
                Exercitationem consequatur vitae amet voluptas.
              </p>
              <form
                id="form-predict"
                action="/predictions"
                method="post"
                class="container-custom-padding"
              >
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <input
                      type="number"
                      name="storage_bin"
                      class="form-control"
                      placeholder="Storage Bin"
                    />
                  </div>
                  <div class="col-12 col-sm-6">
                    <select
                      class="form-control"
                      name="storage_location"
                      placeholder="Storage Location"
                    >
                      <option value="0">I001</option>
                      <option value="1">ZBLK</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <input
                      type="date"
                      name="gr_date"
                      class="form-control"
                      placeholder="GR Date"
                    />
                  </div>
                  <div class="col-12 col-sm-6">
                    <input
                      type="number"
                      name="total_stock"
                      class="form-control"
                      placeholder="Total Stock"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <input
                      type="number"
                      name="last_movement"
                      class="form-control"
                      placeholder="Last Movement"
                    />
                  </div>
                </div>
                <div class="row top-padding">
                  <div class="col-12 col-sm-12">
                    <div class="form-button text-right">
                      <button
                        id="submit"
                        type="submit"
                        class="ibtn less-padding"
                      >
                        Predict
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="img-holder" id="hiddenDiv" style="display: none">
        <div class="bg"></div>
        <div class="info-holder simple-info">
          <div class="mb-5">
            <div class="type-animation">
              <h2 class="mb-2 animated">iofrmlabs.com</h2>
            </div>
            <h3 class="mb-4">
              <i class="font-weight-light">Domain for sale!</i>
            </h3>
          </div>
          <div>
            <p>
              Fill the form, make your offer<br />And get the domain name before
              it’s gone.
            </p>
          </div>
        </div>
        <div class="bottom-view">
          <p>
            <small class="font-weight-light"
              >Powered by iofrm domains - 2023</small
            >
          </p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $("#form-predict").submit(function (event) {
          event.preventDefault();
          // Ambil data dari form
          var formData = $(this).serialize();

          // Kirim request AJAX ke Flask
          $.ajax({
            type: "POST",
            url: "/predictions", // Ganti dengan endpoint Flask Anda
            data: formData,
            success: function (response) {
              console.log(response);
              $("#hiddenDiv").show();
            },
            error: function (error) {
              console.log(error);
            },
          });
          $("#hiddenDiv").show();
        });
      });
    </script>
  </body>
</html>
